
#aboutDiv{
    display:flex ;
    text-align: start;
    justify-content: center;
    flex-direction: row;
    color: white;
    background-color: rgba(2, 0, 0, 0.65);  
    border-style: solid;
    border-radius: 0.5rem;
    border-color: #941ed9;
    margin-top: 5em;
    padding: 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;

} 

